# For - Loop

In [2]:
# For x in data set print the entire data.
Data = [1,2,3,4,5]
for x in Data:
    print(x)

1
2
3
4
5

In [3]:
# For x in data set print the entire data with mathematical calcuation
Data = [1,2,3,4,5]
for x in Data:
    print(x*2)

2
4
6
8
10

In [4]:
# For x in data set print the entire data with mathematical calcuation
Data = [1,2,3,4,5]
for x in Data:
    print(x-2)

-1
0
1
2
3

In [53]:
# For x in data set print the entire data using a list.
Data_Set = ['Ford', 'Ferrari', 'Toyota', 'Maruti', 'Chevrolet']
for x in Data_Set:
    print(x)

Ford
Ferrari
Toyota
Maruti
Chevrolet

In [144]:
# For x in data set determining the average number from a list of numbers
List_Numbers = [1,2,3,4,5,6]
sum = 0
for i in List_Numbers:
    sum = sum + i
print('Sum', sum)
print('Average', sum/len(List_Numbers))

Sum 21
Average 3.5

In [158]:
# For x in data set determining the average number from a range of numbers
sum = 0
List_Numbers_1 = range(1,11,3)
for o in List_Numbers_1:
    sum = sum + o
print('Sum', sum)
print('Average', sum/len(List_Numbers_1))

Sum 22
Average 5.5

In [6]:
# Alternatively determining the average using the below syntax
List_Numbers_2 = range(1,11,2)
print('Sum', sum(List_Numbers_2))
print('Averaage', sum(List_Numbers_2)/len(List_Numbers_2))

Sum 25
Averaage 5.0

In [17]:
# Alternatively determining the average using the below syntax
List_Numbers_3 = [1,2,3,4,5,6]
print('Sum', sum(List_Numbers_3))
print('Averaage', sum(List_Numbers_3)/len(List_Numbers_3))

Sum 21
Averaage 3.5

# While Loop

In [1]:
# While Loop is used to see if a particular condition is met. 
Z = 4
while Z>1:
    print(Z)
    Z = Z - 1
print('Loop Complete')

4
3
2
Loop Complete

In [6]:
# While Loop is used to see if a particular condition is met and we need to omit one particluar value
Z = 4
while Z>1:
    if Z != 3:
        print(Z)
    Z = Z - 1
print('Loop Complete')

4
2
Loop Complete

In [9]:
# While Loop is used to see if a particular condition is met and we need to omit one or more particluar value with "break" syntax
Y = 10
while Y >1:
    if Y == 4:
        break
    print(Y)
    Y = Y - 1
print('Loop Complete')

10
9
8
7
6
5
Loop Complete

In [10]:
Y = 10
while Y > 1:
    if Y == 9:
        Y = Y - 1
        continue
    if Y == 3:
        break
    print(Y)
    Y = Y - 1
print(Y)
print('Loop Complete')

10
8
7
6
5
4
3
Loop Complete