# Print Name

In [37]:
print('Nithin Felix Chaliyachan')

Nithin Felix Chaliyachan

# Assign Variable and Print

In [38]:
Name, Middle, Surname ="Nithin", "Felix", "Chaliyachan"
print("{} {} {}".format(Name, Middle, Surname))

Nithin Felix Chaliyachan

In [39]:
Name, Middle, Surname ="Nithin", "Felix", "Chaliyachan"
print("{} {}".format(Name, Middle, Surname))

Nithin Felix

# Assign Numerical Variable and Print using calcuations

In [40]:
a, b, c = 5, 2.5, 3
print(a*b)

12.5

In [41]:
print(a+b+c)

10.5

In [42]:
print(a*b-c)

9.5

# Identify the type of a particular variable

In [43]:
print(type(a), type(b), type(c))
print(type(Name), type(Middle), type(Surname))

<class 'int'> <class 'float'> <class 'int'>
<class 'str'> <class 'str'> <class 'str'>

# Concatinate with Strings

In [44]:
print("{} {}".format(Name, a))

Nithin 5

In [45]:
# Note: only with strings you can concatinate using +
print((Name+"is from "+Surname))

Nithinis from Chaliyachan

# Setting up values and print respective values

In [46]:
values = [1,2,3,4,"Red","Blue","Green"]
# When trying to print values, the position of the value beings from zero and then moves up accordingly 
# For example, [1,2,3,4,"Red","Blue","Green"] where 1 is the 0th position, 2 is the 1st position and so on.
print(values[0])
print(values[2], values[5])

1
3 Blue

In [47]:
# When printing the last index value
print(values[-1])

Green

In [48]:
# When printing a range of index values
print(values[2:5])
# When printing a range of index values untill the end
print(values[2:])
# When printing a range of index values before a particular index position
print(values[:4])

[3, 4, 'Red']
[3, 4, 'Red', 'Blue', 'Green']
[1, 2, 3, 4]

# Adding index and replacing index

In [49]:
# When inserting a new value or string into a index. For example we added "Yellow" in the begining
values.insert(0, "Yellow")
print(values)

['Yellow', 1, 2, 3, 4, 'Red', 'Blue', 'Green']

In [50]:
# When inserting a new value or string into a index at the end. For example we added "Magenta" at the end
values.append("Magenta")
print(values)

['Yellow', 1, 2, 3, 4, 'Red', 'Blue', 'Green', 'Magenta']

In [51]:
# When inserting a new value or string into a index at the end. For example we added "Purple" at the end.
values.append("Purple")
print(values)

['Yellow', 1, 2, 3, 4, 'Red', 'Blue', 'Green', 'Magenta', 'Purple']

In [53]:
# When replace an index into another value or String. For example, in the below code we replaced value 4 with "Orange"
values.insert(4,"Orange")
print(values)

['Yellow', 1, 2, 3, 'Orange', 'Orange', 4, 'Red', 'Blue', 'Green', 'Magenta', 'Purple']